<br>
<div class="jumbotron">   
<div class="row">
        <div class="col-md-7">
            <h1>{{movie.title}}</h1>
            <h6>{{movie.tagline}}</h6><hr><br>
            <p>{{movie.overview}}</p><br>
            <div style="text-align: center">
                <h3>Release Date : {{movie.release_date}}</h3><br>
                <h3>Revenue : {{movie.revenue}}</h3><br>
                <h3>Run Time : {{movie.runtime}}</h3><br>
                <h3>Vote Count : {{movie.vote_count}}</h3><br>
                <h3>Vote Average : {{movie.vote_average}}</h3><br>
                <h3>Popularity : {{movie.popularity}}</h3><br>
            </div>
        </div>
        <div class="col-md-5">
            <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt = "No image" style="height: 40rem;width: 90%">
        </div>
    </div>
</div>
